@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
    padding: 20px;
}

.hide {
    display: none;
}

.itemviewer-container {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    border: none;
    box-shadow: 3px 5px 6px #EFEFEF;
    border-radius: 8px 8px 0px 0px;
    font-family: arial;

    @media only screen and (min-width: 768px) {
        /* tablets and desktop */
        max-width: 800px;
    }
}

.itemviewer-header, .itemviewer-footer {
    flex-grow: none;
}

.itemviewer-footer {
    border-top: 1px solid #E1E1E1
}

.product-default-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

.product-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 0 20px 10px 0;

    p {
        font-size: 90%;
    }

    @media only screen and (min-width: 768px) {
        /* tablets and desktop */
        flex-wrap: nowrap;
    }
}

.product-image {
  margin: -40px auto;

  @media only screen and (min-width: 768px) {
      /* tablets and desktops */
      margin: -40px 0;
  }
}

.product-description {
    padding: 10px 0;
}

.itemviewer-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 53px;
    border-radius: 8px 8px 0px 0px;
    background: rgba(234,234,208,1);
    background: -moz-linear-gradient(left, rgba(234,234,208,1) 0%, rgba(199,199,165,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(234,234,208,1)), color-stop(100%, rgba(199,199,165,1)));
    background: -webkit-linear-gradient(left, rgba(234,234,208,1) 0%, rgba(199,199,165,1) 100%);
    background: -o-linear-gradient(left, rgba(234,234,208,1) 0%, rgba(199,199,165,1) 100%);
    background: -ms-linear-gradient(left, rgba(234,234,208,1) 0%, rgba(199,199,165,1) 100%);
    background: linear-gradient(to right, rgba(234,234,208,1) 0%, rgba(199,199,165,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaead0', endColorstr='#c7c7a5', GradientType=1 );
    font-weight: bold;

    span {
        padding: 10px;
    }
}

.itemviewer-header-icon, .itemviewer-header-expand  {
    flex-grow: none;
    font-size: 1.4em;
    color: #448501;
}
.itemviewer-header-title  {
    flex-grow: 1;
}

.itemviewer-footer {
    font-size: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 53px;
    background: #fff;

    span {
        padding: 10px;
    }

    a {
        color: #7EA95A;
    }

    .itemviewer-footer-prev-enabled, .itemviewer-footer-prev-disabled, .itemviewer-footer-next-enabled, .itemviewer-footer-next-disabled  {
        flex-grow: none;
        font-size: 2.8em;
    }

    .itemviewer-footer-prev-enabled, .itemviewer-footer-next-enabled {
        color: #448501;
        cursor: pointer;
    }

    .itemviewer-footer-prev-disabled, .itemviewer-footer-next-disabled {
        color: #EFEFEF;
    }

    .itemviewer-footer-prev-link {
        flex-grow: 1;
    }
}
